# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v2.0. To use this config, the firmware should be compiled for the
# STM32F103 with a "28KiB bootloader" and USB communication. Also,
# select "Enable extra low-level configuration options" and configure
# "GPIO pins to set at micro-controller startup" to "!PA14".

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

[include steppers.cfg]
[include extruders.cfg]
[include fans.cfg]
[include bed.cfg]
[include probes.cfg]
[include display.cfg]
[include leds.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_28002C000250415339373620-if00

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[static_digital_output usb_pullup_enable]
pins: !PA14

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

# See the sample-lcd.cfg file for definitions of common LCD displays.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.034583, 0.175000, 0.350000, 0.535833
#*# 	  -0.052083, 0.047083, 0.205000, 0.394167
#*# 	  -0.095833, 0.002917, 0.165000, 0.349167
#*# 	  -0.070000, 0.037917, 0.190000, 0.361667
#*# tension = 0.2
#*# min_x = 20.0
#*# algo = lagrange
#*# y_count = 4
#*# mesh_y_pps = 2
#*# min_y = 20.0
#*# x_count = 4
#*# max_y = 189.97
#*# mesh_x_pps = 2
#*# max_x = 189.97
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 74.749
#*# pid_ki = 1.799
#*# pid_kd = 776.452
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 21.870
#*# pid_ki = 1.057
#*# pid_kd = 113.176
#*#
#*# [bltouch]
#*# z_offset = 3.600
