[safe_z_home]
home_xy_position: 117,117 # Change coordinates to the center of your print bed
speed: 50
z_hop: 10                 # Move up 10mm
z_hop_speed: 5

[bltouch]
sensor_pin: ^PC14
control_pin: PA1
#pin_up_touch_mode_reports_triggered: False
x_offset: -43
y_offset: -9
#z_offset: 4.1
pin_move_time: 0.4
samples: 3

[bed_mesh]
speed: 150
horizontal_move_z: 5.5
mesh_min: 20,20
mesh_max: 190,190
probe_count: 4,4